<!-- Button -->
<!-- REMOVED: app-quote-validity component not found -->
<!-- <app-quote-validity *ngIf="user.IsAdmin || user.IsReservation || user.supperAdmin" [user]="user"></app-quote-validity> -->
<!-- REMOVED: app-amend-service component not found -->
<!-- <app-amend-service style="display: inline-block;"></app-amend-service> -->
<!-- <wsa-chat></wsa-chat> -->

<!-- <a style="position: relative;" href="javascript:;" [matTooltip]="'Education'" id="nav_Setting" class="ml-3">
    <i class="bi bi-mortarboard" style="font-size: 21px;"></i>
    <theme-education-widget class="badge badge-pill badge-warning" style="position: absolute;
    top: -13px;
    right: -6px;
    font-size: 10px;" *ngIf="user" [user]="user">
    </theme-education-widget>
</a> -->

<!-- <ng-container *ngIf="user && (user.IsAdmin || user.IsReservation)">
    <app-messaging [user]="user" [dateTimeFormat]="dateTimeFormat">
    </app-messaging>
</ng-container> -->
<!-- <ng-container *ngIf="user && (user.IsAdmin || user.IsReservation)">
    <app-request-widget [user]="user" [dateTimeFormat]="dateTimeFormat">
    </app-request-widget>
</ng-container> -->
<!-- <ng-container *ngIf="user && (user.IsAdmin || user.IsReservation)">
    <theme-messages-widget [user]="user" [dateTimeFormat]="dateTimeFormat">
    </theme-messages-widget>
</ng-container> -->

<!-- <a href="question/create?country={{user.nation}}&user={{user.username}}" [matTooltip]="'Question Create'" class="ml-2"
    target="_blank">
    <i class="bi bi-ui-radios" style="font-size: 21px;"></i>
</a>
<a href="question/question-box?country={{user.nation}}&user={{user.username}}" [matTooltip]="'Question Box'"
    class="ml-2" target="_blank">
    <i class="bi bi-chat-right-text-fill" style="font-size: 21px;"></i>
</a> -->
