
<button class="ml-2" (click)="openSettingDialog = true" [matTooltip]="'Setting'">
    <i class="bi bi-gear" style="font-size: 21px;"></i>
</button>

<ejs-dialog *ngIf="openSettingDialog" [isModal]="true" [visible]="true"
    [showCloseIcon]="true" (close)="openSettingDialog = false"
    [width]="'700px'" cssClass="setting-dlg" [header]="'Settings'" [animationSettings]="{effect: 'Zoom'}">
    <ng-template #content>
        <!-- Search box -->
        <div class="sdlg-search">
            <i class="bi bi-search"></i>
            <input type="text" [(ngModel)]="menuSearch" (ngModelChange)="onMenuSearch($event)"
                placeholder="Search settings..." class="sdlg-search__input" />
            <button *ngIf="menuSearch" class="sdlg-search__clear" (click)="onMenuSearch('')">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
        <!-- Grouped sections -->
        <div class="sdlg-body">
            <ng-container *ngFor="let group of filteredGroupedMenu">
                <div class="sdlg-section">
                    <div class="sdlg-section__header">
                        <i class="{{group.icon}}"></i>
                        <span>{{group.label}}</span>
                        <span class="sdlg-section__badge">{{group.items.length}}</span>
                    </div>
                    <div class="sdlg-section__grid">
                        <a *ngFor="let x of group.items" [href]="x.url" [target]="x.target" class="sdlg-item">
                            <i class="{{x.icon}}"></i>
                            <span>{{x.name}}</span>
                        </a>
                    </div>
                </div>
            </ng-container>
            <!-- Empty state -->
            <div *ngIf="filteredGroupedMenu.length === 0 && menuSearch" class="sdlg-empty">
                <i class="bi bi-search"></i>
                <span>No results for "{{menuSearch}}"</span>
            </div>
        </div>
    </ng-template>
</ejs-dialog>

<button class="ml-2" [matMenuTriggerFor]="menuUser" [matTooltip]="'Users'">
    <i class="bi bi-people-fill" style="font-size: 21px;"></i>
</button>
<mat-menu [xPosition]="'before'" #menuUser="matMenu">
    <ul class="lst-menu">
        <li *ngFor="let x of menuUsers">
            <i class="{{x.icon}}"></i> <a [href]="x.url" [target]="x.target"> {{x.name}}</a>
        </li>
    </ul>
</mat-menu>