<table class="table table-hover table-bordered table-striped table-condensed flip-content">
    <thead>
        <tr>
            <th> Search</th>
            <th colspan="5">
                <input type="text" class="form-control " [(ngModel)]="searchText" placeholder="text ... " style="width: 100%;
                border: none;
                height: 16px;
                font-size: 11px;">
            </th>
        </tr>
        <tr>
            <th class="flip-content clsControl" style="width: 30px;">No.</th>
            <th class="flip-content">Name</th>
            <th class="flip-content">Code</th>
            <!-- <th class="flip-content">Users</th> -->
            <th class="clsControl" style="width: 60px;">
                <a href="javascript:;" class="btn btn-icon-only" (click)="objectValue('new',null)">
                    <b>New</b>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of lsobject | filter: searchText; let $index = index">
            <td class="clsControl">{{$index + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.code}}</td>
            <!-- <td>
                @if(x.users?.length){
                <ul>
                    <li *ngFor="let user of x.users; let i = index">
                        - {{user.username}} @if(user.leader) { <span style="color: red;"> leader</span>}
                    </li>
                </ul>
                }
            </td> -->
            <td class="clsVerMid clsControl">
                <a href="javascript:;" class="btn btn-icon-only red" (click)="objectValue('edit',x)">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="javascript:;" class="btn btn-icon-only purple" (click)="objectValue('delete',x)">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<ejs-dialog [showCloseIcon]="true" [isModal]="true" [visible]="true" [header]="'Add/Edit'" *ngIf="openDialog"
    (close)="openDialog = false" [width]="'700px'">
    <ng-template #content>
        <div class="row">
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label class="form-label">Group Name</label>
                    <input [(ngModel)]="object.name" type="text" class="form-control" placeholder="Enter name">
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label class="form-label">Code</label>
                    <input [(ngModel)]="object.code" type="text" class="form-control" placeholder="Enter code">
                </fieldset>
            </div>
            <!-- <div class="col-md-12 mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>Leader</th>
                            <th style="width: 50px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of object.users; track $index) {
                        <tr>
                            <td>
                                <kendo-dropdownlist [data]="listUser" [textField]="'username'" [valueField]="'username'"
                                    [valuePrimitive]="true" [(ngModel)]="item.username">
                                </kendo-dropdownlist>
                            </td>
                            <td>
                                <ejs-checkbox [(ngModel)]="item.leader" style="margin-top: 6px">
                                </ejs-checkbox>
                            </td>
                            <td>
                                <a class="cls_a delete" (click)="DeleteService(item)" href="javascript:;">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        }
                        <tr>
                            <td colspan="31" style="text-align: left;">
                                <a href="javascript:;" (click)="AddUsers()">
                                    <b><i class="bi bi-arrow-return-right"></i> <i class="bi bi-person-fill-add"></i>
                                        Add User</b>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
            <div class="col-md-12" style="display: flex; justify-content: flex-end; gap: 8px; padding-top: 14px; border-top: 1px solid #e0e0e0; margin-top: 14px;">
                <button class="btn btn-secondary btn-sm" (click)="objectValue('cancel',object)">Close</button>
                <button class="btn btn-primary btn-sm" (click)="objectValue(cSave?'save':'add',object)">{{cSave? 'Change' :
                    'Add'}}</button>
            </div>
        </div>
    </ng-template>
</ejs-dialog>
<!-- <kendo-dialog class="drag_drop_dialog" *ngIf="openDialog" title="Add/Edit" (close)="openDialog = false" [minWidth]="400"
    [width]="450">

    <kendo-dialog-actions>
        <button (click)="objectValue('cancel',object)">Close</button>
        <button (click)="objectValue(cSave?'save':'add',object)">{{cSave? 'Change' : 'Add'}}</button>
    </kendo-dialog-actions>
</kendo-dialog> -->