<table class="table table-hover table-bordered table-condensed flip-content">
    <thead>
        <tr>
            <th class="flip-content">ST Code</th>
            <th class="flip-content">Fullname</th>
            <th class="flip-content">Course</th>
            <th class="flip-content">Class</th>
            <th class="flip-content">Lecturer Name</th>
            <th class="flip-content">Department</th>
            <th class="clsControl" style="width: 60px;">
                <a href="javascript:;" class="btn btn-icon-only" (click)="objectValue('new',null)">
                    <b>New Group</b>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let x of lsobject; let $index = index">
            <tr style="background: #e0e0e0;font-size: 13px;">
                <td colspan="6"> <i class="bi bi-people-fill"></i> {{x.code}} | {{x.name}}</td>
                <td>
                    <a title="Edit Item" style="margin-right: 7px; color: green;" (click)="objectValue('edit',x)"
                        href="javascript:;">
                        <i class="bi bi-text-indent-left" style="font-size: 12px;"></i>
                    </a>
                    <a title="Detele Item" style="color: red;" href="javascript:;" (click)="objectValue('delete',x)">
                        <i class="bi bi-trash" style="font-size: 12px;"></i>
                    </a>
                </td>
            </tr>
            <ng-container *ngIf="x.items && x.items.length">
                <tr *ngFor="let y of x.items">
                    <td><i class="bi ml-1 bi-person-bounding-box"></i> {{y.studentCode}}</td>
                    <td>{{y.userFullName}}</td>
                    <td>{{y.courseName}}</td>
                    <td>{{y.className}}</td>
                    <td>{{y.lecturer}}</td>
                    <td>{{y.departmentName}}</td>
                    <td>
                        <a title="Edit Item" style="margin-right: 7px; color: green;" (click)="ValueItems('edit',y,x)"
                            href="javascript:;">
                            <i class="bi bi-text-indent-left" style="font-size: 12px;"></i>
                        </a>
                        <a title="Detele Item" style="color: red;" href="javascript:;"
                            (click)="ValueItems('delete',y,x)">
                            <i class="bi bi-trash" style="font-size: 12px;"></i>
                        </a>
                    </td>
                </tr>
            </ng-container>
            <tr>
                <td colspan="7">
                    <a href="javascript:;" class="btn btn-icon-only" (click)="ValueItems('new',null, x)">
                        <b> <i class="bi bi-arrow-return-right"></i> Add Student</b>
                    </a>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<mat-paginator [length]="totalitems" [pageSize]="pageEvent.pageSize" [pageIndex]="pageEvent.pageIndex"
    [pageSizeOptions]="pageSizeOptions" (page)="Change_page($event)">
</mat-paginator>

<ejs-dialog [isModal]="true" *ngIf="openDialog" [visible]='true' [header]="'Add/Edit Group'" [showCloseIcon]='true'
    (close)="openDialog = false" [width]="'500px'">
    <ng-template #content>
        <div class="col-md-12 mt-3 p-0">
            <fieldset class="form-group">
                <label class="form-label">Code</label>
                <input [(ngModel)]="object.code" type="text" class="form-control" placeholder="Enter code">
            </fieldset>
            <fieldset class="form-group">
                <label class="form-label">Name</label>
                <input [(ngModel)]="object.name" type="text" class="form-control" placeholder="Enter name">
            </fieldset>
        </div>
        <div class="col-md-12 mt-3 p-0">
            <button class="btn btn-secondary btn-sm mr-2" (click)="objectValue('cancel',object)">Close</button>
            <button class="btn btn-primary btn-sm" (click)="objectValue(cSave?'save':'add',object)" >{{cSave ? 'Change' :
                'Add'}}</button>
        </div>
    </ng-template>
</ejs-dialog>

<ejs-dialog [isModal]="true" *ngIf="openDialogItems" [visible]='true' [header]="'Add/Edit Student'"
    [showCloseIcon]='true' (close)="ValueItems('cancel',objectItems)" [width]="'500px'">
    <ng-template #content>
        <div class="col-md-12  mt-3 p-0 cls_float_left">
            <label class="k-form-field">
                <span>Student</span>
                <kendo-dropdownlist [(ngModel)]="objectItems.studentId" (ngModelChange)="ChangeDataStudent($event)"
                    [kendoDropDownFilter]="filterSettings" [filterable]="true" [valueField]="'_id'"
                    [textField]="'usercode'" [valuePrimitive]="true" [data]="lsDataStudent">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="template" *ngIf="dataItem"> {{ dataItem.usercode }} - {{
                            dataItem.fullname }} </span>
                    </ng-template>
                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <span class="template">{{ dataItem.usercode }} - {{ dataItem.fullname }}</span>
                    </ng-template>
                </kendo-dropdownlist>
            </label>
        </div>
        <div class="col-md-12  mt-3 p-0 cls_float_left">
            <fieldset class="form-group">
                <label class="form-label"> Lecturer Name</label>
                <input [(ngModel)]="objectItems.lecturer" style="height: 32px;" type="text" class="form-control"
                    placeholder="Enter Lecturer">
            </fieldset>
        </div>
        <div class="col-md-6 mt-3 pl-0 cls_float_left">
            <fieldset class="form-group">
                <label class="form-label">Class</label>
                <kendo-dropdownlist [(ngModel)]="objectItems.classId" [valueField]="'_id'"
                    (ngModelChange)="ChangeDataClass($event)" [textField]="'name'" [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings" [filterable]="true" style="background-color: red"
                    [data]="listClass">
                </kendo-dropdownlist>
            </fieldset>
        </div>
        <div class="col-md-6  mt-3 pr-0 cls_float_left">
            <fieldset class="form-group">
                <label class="form-label">Department/Group</label>
                <kendo-dropdownlist [(ngModel)]="objectItems.departmentId" [valueField]="'_id'"
                    (ngModelChange)="ChangeDataDepartment($event)" [textField]="'name'" [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings" [filterable]="true" style="background-color: red"
                    [data]="listDepartment">
                </kendo-dropdownlist>
            </fieldset>
        </div>
        <div class="col-md-12 mt-3 cls_float_left p-0">
            <button class="btn btn-secondary btn-sm mr-2" (click)="ValueItems('cancel',objectItems)">Close</button>
            <button class="btn btn-primary btn-sm" (click)="ValueItems(cSave_items?'save':'add',objectItems)" >{{cSave_items
                ? 'Change' :
                'Add'}}</button>
        </div>
    </ng-template>
</ejs-dialog>