.form-container {
    background-color: #f8f9fa!important;
}

.form-title {
    color: #626262;
    p {
        margin: 0;
        line-height: 1.5;
        font-size: 0.9rem;
    }
}

.card-header {
    font-size: 1rem;
    font-weight: bold;
}