.totalPayment {
  background-color: #920f00 !important;

  td {
    color: white !important;
  }
}

.txt-alg-right {
  text-align: right;

  .k-input-inner {
    text-align: right;
  }
}

.clsColorGreen {
  color: green;
}

.clsColorblack {
  color: black;
}
.cls-noValue-border.k-input-solid {
  border-color: #920f00;
  ::placeholder {
    color: #920f00;
    opacity: 1; /* Firefox */
  }
}
.cls-value-border.k-input-solid {
  border-color: green;
}

.cls-eraser {
  color: red;
  font-size: 13px;
}


.cls-color-gray {
  color: gray !important;
}
.cls-tooltip-content {
  color: white !important;
  tr {
    td, th{
      color: white !important;
    }
  }
}
.cls-had-assigned {
  .bi-patch-check {
    color: red !important;
  }
}