<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body" style="position: relative">
        <div id="printValue" class="invoice">
          <div>
            <!-- End InvoiceTop -->
            <div class="row">
              <div class="col-md-12 mb-3" style="position: relative;">
                <p class="clsColorGreen mb-1">Aproved User: {{ AssignVsEmails.createdBy }}</p>
                <p class="clsColorGreen">Date: {{ AssignVsEmails.strCreatedDate }}</p>
                <p *ngIf="AssignVsEmails.modifiedBy" class="clsColorGreen">Modified By: {{
                  AssignVsEmails.modifiedBy }}</p>
                <p *ngIf="AssignVsEmails.strModifiedDate" class="clsColorGreen">Modified: {{
                  AssignVsEmails.strModifiedDate }}</p>
                <a href="javascript:;" class="cls-eraser" *ngIf="!isEdit" style="
                  position: absolute;
                  top: 0;
                  right: 18px;
                  font-size: 16px;
                  color: red;
              " (click)="Eraser()"> <i class="bi bi-eraser"></i> Clear Drafts</a>
              </div>
              <div class="col-md-6">
                <label class="k-form-field">
                  <span>Group Name</span>
                  <input type="text" class="form-control" [disabled]="AssignVsEmails.payDone"
                    [(ngModel)]="AssignVsEmails.namePayment" placeholder="Enter Group Name..." />
                </label>
              </div>
              <div class="col-md-6">
                <label class="k-form-field">
                  <span>Service/Supplier</span>
                  <kendo-dropdownlist [disabled]="AssignVsEmails.payDone" [(ngModel)]="AssignVsEmails._idService"
                    [kendoDropDownFilter]="filterSettings" [filterable]="true" [textField]="'fullNameService'"
                    (ngModelChange)="ChangeServiceSupplier($event)" [valueField]="'_idService'" [valuePrimitive]="true"
                    [data]="lsSupplier">
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span *ngIf="dataItem" class="cls_tile">
                        {{ dataItem.fullNameService }}
                      </span>
                    </ng-template>
                  </kendo-dropdownlist>
                </label>
              </div>
            </div>
            <!-- End Invoice Mid -->
            <div class="mt-2 table-responsive invoice-table overflow-x-auto w-full" id="table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 40px; text-align: center">No.</th>
                    <th>Booking</th>
                    <th style="min-width: 125px">Begin</th>
                    <th style="min-width: 125px">End</th>
                    <th style="min-width: 60px"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="!isEdit">
                    <ng-container *ngIf="AssignVsEmails?.listTours && AssignVsEmails?.listTours.length; else elxTemp">
                      <ng-container *ngFor="let vl of AssignVsEmails.listTours; let inx = index">
                        <tr>
                          <td style="text-align: center; vertical-align: middle">{{ inx + 1 }}</td>
                          <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                            {{ vl.fullBookingName }}
                          </td>
                          <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                            {{ vl.begindate | date : "dd MMM, yyyy" }}
                          </td>
                          <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                            {{ vl.enddate | date : "dd MMM, yyyy" }}
                          </td>
                          <td style="text-align: center; vertical-align: middle">
                            <a *ngIf="vl.idBooking" class="mr-3"
                              [ngStyle]="{ color: vl.listSerivce && vl.listSerivce.length > 0 ? 'green' : 'red'}"
                              (click)="FunctionItems('load', vl)" [matTooltip]="'Items'" href="javascript:;">
                              <i class="bi bi-asterisk"></i>
                            </a>
                            <a (click)="editOneService('edit', vl)" class="mr-3" [matTooltip]="'Edit'"
                              href="javascript:;">
                              <i class="bi bi-pencil-square"></i>
                            </a>
                            <a (click)="editOneService('delete', vl)" style="color: red;" [matTooltip]="'Delete'"
                              href="javascript:;">
                              <i class="bi bi-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                    <ng-template #elxTemp>
                      <tr>
                        <td colspan="5">
                          <i> * No datas </i>
                        </td>
                      </tr>
                    </ng-template>
                    <tr>
                      <td colspan="5">
                        <a href="javascript:;" class="btn btn-icon-only" (click)="editOneService('new', null)"
                          style="color: green">
                          <b> <i class="bi bi-arrow-return-right"></i> Add Payment Booking</b>
                        </a>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="isEdit">
                    <ng-container *ngFor="let vl of AssignVsEmails.listTours; let inx = index">
                      <tr>
                        <td style="text-align: center; vertical-align: middle">{{ inx + 1 }}</td>
                        <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                          {{ vl.fullBookingName }}
                        </td>
                        <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                          {{ vl.begindate | date : "dd MMM, yyyy" }}
                        </td>
                        <td [ngStyle]="{ color: vl.payDone ? 'gray' : 'black'}">
                          {{ vl.enddate | date : "dd MMM, yyyy" }}
                        </td>
                        <td>
                          <a (click)="!vl.payDone? editOneService('edit', vl) : notify('warning', 'Can\'t edit this booking')"
                            class="mr-3 {{vl.payDone ? 'cls-color-gray' : ''}}" [matTooltip]="'Edit'"
                            href="javascript:;">
                            <i class="bi bi-pencil-square"></i> Edit
                          </a>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="isEdit">
              <div class="col-md-12" style="text-align: right">
                <button class="btn btn-primary" style="
                    background-color: #77777a !important;
                    border-color: #77777a !important;
                    color: white;
                    margin: 0 0 9px;
                  " (click)="popupEmailToSupplier()" type="button" title="" data-bs-original-title="">
                  Email To Supplier
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="k-form-field">
                  <span>Note</span>
                  <editer-syncfusion [height]="200" [isCk]="true" [(str)]="AssignVsEmails.note"
                    class="mt-1"></editer-syncfusion>
                </label>
              </div>
            </div>
            <div class="float-right sticky bottom-3 w-auto" *ngIf="!isEdit">
              <ng-contanier *ngIf="!loadingApplyPayment">
                <button class="btn text-white {{AssignVsEmails?.listTours?.length ? 'opacity-100' : 'opacity-50'}}"
                  [disabled]="!AssignVsEmails?.listTours?.length" (click)="SaveCompose()" style="
                    background-color: #120d85 !important;
                    border-color: #120d85 !important;
                  ">Save
                </button>
              </ng-contanier>
            </div>
            <!-- End InvoiceBot -->
          </div>
          <!-- End Invoice -->
          <!-- End Invoice Holder -->
          <!-- Container-fluid Ends -->
        </div>
      </div>
    </div>
  </div>
  <button position="BottomLeft" (click)="OpenBookingClick()" ejs-speeddial
    [content]="'('+lsBookingPicks.length + ') Bookings To Send Email'" openIconCss="bi bi-envelope-check-fill"
    cssClass="popupSpeedDial">
  </button>
</div>

<ejs-dialog *ngIf="popupUploadFile" [isModal]="true" [visible]="true"
  [header]="'Upload File ' + popupUploadFileMaster ? 'Master' : 'Booking'" [showCloseIcon]="true"
  (close)="popupUploadFile = !popupUploadFile" style="max-width: 100%" [width]="'400px'">
  <ng-template #content>
    <div class="row mt-3">
      <form (ngSubmit)="onSubmit()" style="width: 100%">
        <div class="col-md-12">
          <label class="k-form-field" style="width: 100%">
            <span>Name File</span>
            <input style="height: 27px; width: 100%" [(ngModel)]="documentFileName.name" name="FileName"
              class="k-textbox" placeholder="text" />
          </label>
        </div>
        <div class="col-md-12">
          <label class="k-form-field" style="width: 100%">
            <span>File</span>
            <div class="input-group mt-2 is-invalid">
              <div class="custom-file">
                <input type="file" (change)="fileProgressdocument($event)" placeholder="text" name="image"
                  class="custom-file-input" id="wordFooter" />
                <label class="custom-file-label" style="
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-right: 76px;
                    font-size: 16px;
                  " for="wordFooter">
                  <i class="fas fa-file-word" style="font-size: 19px"></i>
                  {{
                  documentFileName.urlName
                  ? documentFileName.urlName
                  : "Choose a .docx, .pdf, .Excel, Image ..."
                  }}
                </label>
              </div>
            </div>
          </label>
        </div>
        <div class="col-md-12 mt-3" style="display: flex; justify-content: flex-end; gap: 8px;">
          <button class="btn btn-secondary btn-sm" (click)="popupUploadFile = !popupUploadFile">Close</button>
          <button class="btn btn-primary btn-sm" type="submit">Save</button>
        </div>
      </form>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog *ngIf="popupValuePayment" [isModal]="true" [visible]="true" [header]="'Add/Edit Payment Booking'"
  [showCloseIcon]="true" (close)="popupValuePayment = !popupValuePayment" style="max-width: 100%" [width]="'800px'">
  <ng-template #content>
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="k-form-field" style="width: 100%">
          <span>Booking</span>
          <kendo-autocomplete [placeholder]="'Booking'" [disabled]="isEdit" [data]="ListOptionService"
            [filterable]="true" [(ngModel)]="objectValuePayment.fullBookingName"
            (filterChange)="searchBookingAutocomplete($event)"
            (valueChange)="onSelectBookingAutocomplete($event, objectValuePayment)" [ngStyle]="{ width: '100%'}"
            [class]="objectValuePayment.idBooking ? 'cls-value-border' : 'cls-noValue-border'"
            [matTooltip]="objectValuePayment.fullBookingName">
          </kendo-autocomplete>
        </label>
      </div>
      <div class="col-md-12" *ngIf="objectValuePayment.idBooking">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th colspan="5" style="background-color: gray; color: #ffffff; font-weight: bold">List Service</th>
            </tr>
            <tr>
              <th>Begin</th>
              <th>End</th>
              <th>Name Service</th>
              <th *ngIf="!isEdit" style="width: 20px;"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngIf="objectValuePayment.listSerivce && objectValuePayment.listSerivce.length; else tempTemplate">
              <tr *ngFor="let x of objectValuePayment.listSerivce">
                <td>{{ x.Items_Calculator.strbegindate }}</td>
                <td>{{ x.Items_Calculator.strenddate }}</td>
                <td>{{ x.Items_Calculator.name }}</td>
                <td *ngIf="!isEdit" style="text-align: right; width: 50px">
                  <a class="cls_a delete" (click)="DeleteService(x)" href="javascript:;">
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </ng-container>
            <ng-template #tempTemplate>
              <tr>
                <td colspan="4"><i>No data</i></td>
              </tr>
            </ng-template>
            <tr *ngIf="!isEdit">
              <td colspan="4">
                <a style="margin-right: 10px"
                  [ngStyle]="{ color: objectValuePayment.listSerivce && objectValuePayment.listSerivce.length > 0 ? 'green' : 'red'}"
                  (click)="FunctionItems('load', objectValuePayment)" [matTooltip]="'Items'" href="javascript:;">
                  <i [ngStyle]="{ color: objectValuePayment.listSerivce && objectValuePayment.listSerivce.length > 0 ? 'green' : 'red'}"
                    class="bi bi-arrow-return-right"></i>
                  <i [ngStyle]="{ color: objectValuePayment.listSerivce && objectValuePayment.listSerivce.length > 0 ? 'green' : 'red'}"
                    class="bi bi-plus-square"></i>
                  Select Service
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12" *ngIf="!isEdit">
        <button style="font-size: 18px;" class="btn btn-outline-secondary mr-2"
          (click)="editOneService(isEditValuePayment ? 'change' : 'save', objectValuePayment)" type="button">
          {{isEditValuePayment ? 'Change' : 'Save'}}
        </button>
        <button style="font-size: 18px;" (click)="editOneService('close', null)" class="btn btn-outline-danger"
          type="button">
          Close
        </button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog *ngIf="popupItemsBooking" [isModal]="true" [visible]="true" [header]="'Items Booking'"
  [showCloseIcon]="true" (close)="closePopupItemsBooking()" style="max-width: 100%" [width]="'100%'">
  <ng-template #content>
    <div class="row mt-3">
      <div class="col-md-12" *ngIf="loadingItems">
        <timeline-wrapper [number]="4"></timeline-wrapper>
      </div>
      <div class="col-md-12 my-3" *ngIf="!loadingItems">
        <ejs-grid #grid style="min-height: 400px;" [height]="'500px'" [dataSource]="lstDataService"
          showColumnChooser="true" allowFiltering="true" [filterSettings]="filterGrid" allowSorting="true"
          [sortSettings]="initialSort" allowResizing="true" [frozenColumns]="4">
          <e-columns>
            <e-column field="checkSelect" headerText="" width="40" textAlign="Left">
              <ng-template #template let-x>
                <ejs-tooltip #tooltip target="#content" id="htmlTemplate" cssClass="e-tooltip-template-css">
                  <div id="customization">
                    <a href="javascript:;" id="content"
                      [class]="x?.Items_Calculator?.lsAssignedService?.length ? 'cls-had-assigned' : 'cls-no-assigned' "
                      (click)="checkValueSelect(x.checkbox, x)">
                      @if(!x.checkbox){
                      <i style="color: #77777a;" class="bi bi-patch-check"></i>
                      } @else {
                      <i style="color: green;" class="bi bi-patch-check-fill"></i>
                      }
                    </a>
                  </div>
                  <ng-template #content>
                    <div>
                      <div class="row m-0 p-0">
                        <div class="col-md-12 p-0 mt-3 cls-content-popup" style="text-align: left;">
                          <view-ls-assigned-service [tempValueNotification]="x"></view-ls-assigned-service>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ejs-tooltip>
              </ng-template>
            </e-column>
            <e-column field="strbegindate" headerText="Begin Date" width="185" textAlign="Left">
            </e-column>
            <e-column field="strenddate" headerText="End Date" width="185" textAlign="Left">
            </e-column>
            <e-column field="name" headerText="Name" width="480" textAlign="Left">
              <ng-template #template let-x>
                {{x.name }} {{x.NamePackge || ''}}
              </ng-template>
            </e-column>
            <e-column field="types" width="300" headerText="Service Type" textAlign="Left">
            </e-column>
            <e-column field="location" headerText="Location" width="200" textAlign="Left">
            </e-column>
            <e-column width="200" headerText="Estimated Price" textAlign="Right">
              <ng-template #template let-x>
                {{(x.priceBuy || 0) | number: '1.0-2' }}
              </ng-template>
            </e-column>
            <e-column field="supplierName" width="300" headerText="Supplier" textAlign="Left">
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <div class="col-md-12 mt-3 sticky bottom-3" style="display: flex; justify-content: flex-end; gap: 8px;" *ngIf="editItems && !loadingItems">
        <button class="btn btn-secondary btn-sm mb-0" (click)="popupItemsBooking =!popupItemsBooking">Cancel</button>
        <button class="btn btn-primary btn-sm mb-0" (click)="UpdatePayment()">Update</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog *ngIf="ModalSendEmailTaskNew" [isModal]="true" [visible]='true'
  [header]="'Send Email - NEW: Services Summary'" [showCloseIcon]='true' (close)="outSendEmailTask({action: 'close'})"
  style="max-width: 100%;" [height]="'90vh'" [width]="'90%'">
  <ng-template #content>
    <send-email-task-new [user]="user" [_idAssign]="_idAssign" [_idService]="AssignVsEmails._idService"
      [FilterTaskService]="FilterTaskService" [lstTourIds]="lstTourIds" [lsSupplier]="lsSupplier"
      (out)="outSendEmailTask($event)">
    </send-email-task-new>
  </ng-template>
</ejs-dialog>

<ejs-dialog *ngIf="ModalBookingPicks" [isModal]="true" [visible]='true' [header]="'Detail Price'" [showCloseIcon]='true'
  (close)="ModalBookingPicks = !ModalBookingPicks" style="max-width: 100%;" [width]="'90%'">
  <ng-template #content>
    <div class="row">
      <div class="col-md-12 mb-3 mt-3">
        <button type="button" (click)="ActionBookingPicks('deleteAll',null)" class="btn btn-outline-danger mr-2">
          <i class="fa fa-times"></i>
          Delete All Items
        </button>
        <button type="button" (click)="PushBookingTolist()" class="btn btn-outline-secondary mr-2">
          <i class="bi bi-envelope-paper"></i>
          Push to list
        </button>
      </div>
      <div class="col-md-3">
        <label class="k-form-field">
          <span>Name Group</span>
          <input type="text" class="form-control" [disabled]="AssignVsEmails.payDone"
            [(ngModel)]="AssignVsEmails.namePayment" placeholder="Enter payment name..." />
        </label>
      </div>
      <div class="col-md-9">
        <label class="k-form-field">
          <span>Service/Supplier</span>
          <kendo-dropdownlist [disabled]="AssignVsEmails.payDone" [(ngModel)]="AssignVsEmails._idService"
            [kendoDropDownFilter]="filterSettings" [filterable]="true" [textField]="'fullNameService'"
            (ngModelChange)="ChangeServiceSupplier($event)" [valueField]="'_idService'" [valuePrimitive]="true"
            [data]="lsSupplier">
            <ng-template kendoDropDownListItemTemplate let-dataItem>
              <span *ngIf="dataItem" class="cls_tile">
                {{ dataItem.fullNameService }}
              </span>
            </ng-template>
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <table class="table table-md table-hover w-full">
          <thead class="sticky top-[-1px] bg-white">
            <tr>
              <th>
                <ejs-checkbox [matTooltip]="'Select all for Select assign service.'" [(ngModel)]="selectedAll" label
                  cssClass="e-primary fl" (ngModelChange)="functionSelectedAll($event)">
                </ejs-checkbox>
              </th>
              <th class="min-w-[90px]">CREATED BY</th>
              <th class="min-w-[160px]">TRAVEL DATE</th>
              <th class="min-w-[140px]">CODE/VERSION</th>
              <th>BOOKING NAMES</th>
              <th>STATUS</th>
              <th>AGENCY</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="lsBookingPicks && lsBookingPicks.length>0">
            <tr *ngFor="let tour of lsBookingPicks">
              <td>
                <ejs-checkbox [matTooltip]="'Select for assign service.'" *ngIf="!tour.hadInList"
                  [(ngModel)]="tour.selected" label cssClass="e-primary fl">
                </ejs-checkbox>
                <ejs-checkbox *ngIf="tour.hadInList" [disabled]="tour.hadInList" [(ngModel)]="tour.hadInList" label
                  cssClass="e-primary fl">
                </ejs-checkbox>
              </td>
              <td> {{tour.userCreate}} </td>
              <td> {{tour.begindate | date:dateFormat}}
                - {{tour.enddate | date:dateFormat}} </td>
              <td>
                <b>{{tour.productCode}}</b> ({{tour.codeVersion || 0}})
              </td>
              <td>
                {{tour.bookingName}}
              </td>
              <td
                [ngClass]="tour.Proposalstatus === 'CONFIRMED'  ? 'text-success' : tour.Proposalstatus === 'CANCELLED'  ? 'text-danger' : 'text-info'">
                {{tour.Proposalstatus}}
              </td>
              <td>{{tour._agency}}</td>
              <td>
                <button type="button" (click)="ActionBookingPicks('delete',tour)" class="btn btn-outline-danger mr-2">
                  <i class="fa fa-times"></i>
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog *ngIf="popupNotification" [isModal]="true" [visible]="true" [header]="'Notification'" [showCloseIcon]="true"
  (close)="popupNotification = !popupNotification" style="max-width: 100%" [width]="'700px'">
  <ng-template #content>
    <div class="row mt-3">
      <view-ls-assigned-service class="col-md-12"
        [tempValueNotification]="tempValueNotification"></view-ls-assigned-service>
      <div class="col-md-12 mt-3 sticky bottom-3" style="display: flex; justify-content: flex-end; gap: 8px;">
        <button class="btn btn-secondary btn-sm mb-0" (click)="submitNotification('no',tempValueNotification)">No</button>
        <button class="btn btn-primary btn-sm mb-0" (click)="submitNotification('yes',tempValueNotification)">YES</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>